<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Data</title>
</head>
<body>
    <h2>Formulário de Data</h2>
    <form action="/register_hotel_costumer" method="post">
        <label for="name">Nome:</label>
        <input type="text" id="name" name="name">
        <br><br>
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf">
        <br><br>
        <label for="room">quarto:</label>
        <input type="number" id="room" name="room">
        <br><br>
        <label for="check_in">check_in:</label>
        <input type="date" id="check_in" name="check_in">
        <br><br>
        <label for="check_out">check_out:</label>
        <input type="date" id="check_out" name="check_out">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>